<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="margin-bottom:20px;"
    <!-- Wrapper for slides -->
    <div class="carousel-inner row-centered" role="listbox">
        <div id="" class="item active">
                <div class="fixed-width col-lg-3 col-sm-3 col-centered">
                    <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_one.jpg' %}
                    <img class="thumbnail" src="{{ asset_url }}" alt="car_one" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                       <h6>Audi A4 1.6 16V</h6>
                        <span class="carousel-item-header">
                            1 owner
                            HPI Clear
                        </span>
                    </div>
                    </a>
                </div>
                <div class="fixed-width2 col-lg-3 col-sm-3 col-centered">
                    <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_two.jpg' %}
                    <img class="thumbnail"  src="{{ asset_url }}" alt="car_two" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>Audi A6 1.9 TDI</h6>
                        <span class="carousel-item-header">
                            2 owners
                            HPI Clear
                        </span>
                    </div>
                    </a>
                </div>
                <div class="fixed-width col-lg-3 col-sm-3 col-centered">
                    <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_three.jpg' %}
                    <img class="thumbnail"  src="{{ asset_url }}" alt="car_three" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>VW Passat A6 1.9 TDI</h6>
                        <span class="carousel-item-header">
                            3 owners
                            Cat "D"
                        </span>
                    </div>
                    </a>
                </div>
                <div class="fixed-width2 col-lg-3 col-sm-3 col-centered">
                    <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_four.jpg' %}
                    <img class="thumbnail"  src="{{ asset_url }}" alt="car_four" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>hyundai ix40 2.0 HDI</h6>
                        <span class="carousel-item-header">
                            4 owners
                            HPI Clear
                        </span>

                    </div>
                    </a>
                </div>
        </div>
        <div class="item">
            <div class="fixed-width col-lg-3 col-sm-3 col-centered">
                <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_one.jpg' %}
                    <img class="thumbnail" src="{{ asset_url }}" alt="car_one" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>Audi A4 1.6 16V</h6>
                        <span class="carousel-item-header">
                            1 owner
                            HPI Clear
                        </span>
                    </div>
                </a>
            </div>
            <div class="fixed-width2 col-lg-3 col-sm-3 col-centered">
                <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_four.jpg' %}
                    <img class="thumbnail"  src="{{ asset_url }}" alt="car_four" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>Audi A6 1.9 TDI</h6>
                        <span class="carousel-item-header">
                            2 owners
                            HPI Clear
                        </span>
                    </div>
                </a>
            </div>
            <div class="fixed-width col-lg-3 col-sm-3 col-centered">
                <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_three.jpg' %}
                    <img class="thumbnail"  src="{{ asset_url }}" alt="car_three" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>VW Passat A6 1.9 TDI</h6>
                        <span class="carousel-item-header">
                            3 owners
                            Cat "D"
                        </span>
                    </div>
                </a>
            </div>
            <div class="fixed-width2 col-lg-3 col-sm-3 col-centered">
                <a href="#">
                    {% image '@FrontendBundle/Resources/public/images/car_two.jpg' %}
                    <img class="thumbnail"  src="{{ asset_url }}" alt="car_two" />
                    {% endimage %}
                    <div class="carousel-caption bg-shade">
                        <h6>hyundai ix40 2.0 HDI</h6>
                        <span class="carousel-item-header">
                            4 owners
                            HPI Clear
                        </span>

                    </div>
                </a>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


</div>